<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://frameprintpdf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c9dc2ffa-9a05-4362-9f82-6b63b920669f/resourcegroups/JapanEastResourceGroupe/providers/Microsoft.Web/sites/FramePrintPDF</ResourceId>
    <UserName>$FramePrintPDF</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://frameprintpdf.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>